# LOOPS

## For Loop

In [1]:
mylist = ['hello', 'world', 'farrukh']
for list_element in mylist:
    print(list_element)

hello
world
farrukh

In [3]:
#printing character

mystring="Hello"
for char in mystring:
    print(char)

H
e
l
l
o

In [4]:
#for loop with dictionary //printing keys

salaries={'john':'$4000', 'sally':'$3000', 'Chris':'$2000'}
for key in salaries:
    print(key)

john
sally
Chris

In [6]:
#another approach
for employee in salaries:
    print(employee)

john
sally
Chris

In [7]:
#printing values of keys

for value in salaries:
    print(salaries[value])

$4000
$3000
$2000

In [8]:
for value in salaries:
    print(f"{value} has salary of {salaries[value]}.")

john has salary of $4000.
sally has salary of $3000.
Chris has salary of $2000.

In [11]:
#for loop with tuples

mytup=[('a',1),('b',2),('c',3)]
for item in mytup:
    print(item)

('a', 1)
('b', 2)
('c', 3)

### Unpack or deconstruct tuples through for loop

In [10]:
mypair=[('a',1),('b',2),('c',3)]
for (item1, item2) in mypair:
    print(f"this is item 1 {item1}")
    print(f"this is item 2 {item2}")

this is item 1 a
this is item 2 1
this is item 1 b
this is item 2 2
this is item 1 c
this is item 2 3

In [13]:
for x in range(0,11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [14]:
for x in range(0,11,2):
    print(x)

0
2
4
6
8
10

In [17]:
#casting range into list
result = list(range(0,11,2))
print(result)

[0, 2, 4, 6, 8, 10]

# while loop

In [12]:
i=1
while i<5:
    print(f"i is currently {i}")
    i=i+1

i is currently 1
i is currently 2
i is currently 3
i is currently 4

# in keyword

In [18]:
mystr = "aksjdaskjdnasjbdsgalshefowehfipbcxc"
print('f' in mystr)

True

In [19]:
mylst=[1,2,3,4,5,6,7,8,9,10,11,12,14,13,15,16,17,18,91,123,123,23,234,45,34,56,]
print(6 in mylst)

True

In [20]:
print(999 in mylst)

False